body {
    background:linear-gradient(rgb(26, 2, 73), rgb(0, 0, 0), rgb(30, 3, 83));
    height: 100vh;
    background-position: center;
    background-size: contain;
    color: white;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Alata', sans-serif;
}
.navbar {
    font-family: 'Alata', sans-serif;
}

.navbar, .navbar-nav, .navbar-toggler, navbar-brand {
    background-color: rgb(26, 28, 39) ;
}



/* Parrafos */

.parrafos {
    background-color: rgb(39, 39, 67);
    padding: 20px; 
    border-radius: 10px;
    margin-bottom: 20px; 
    margin-left: 15px; 
    margin-right: 15px; 
    margin-top: 15px;
    font-size: 18px;
    text-align: justify;
    color: white;
}

.parrafos li{
    margin-top: 15px;
}

.sec-title {
    text-align: center;
}

.parrafos p {
    margin-top: 10px;
    text-align: center;

}


/* CONTACTO */

.contacto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(58, 58, 95);
    border-radius: 10px;
    margin: 0 auto;
    max-width: 600px; 
    margin-bottom: 30px;
    color: white;
}

.contacto-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-formulario button {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.2s ease;
}

.contacto-formulario button:hover {
    color: white;
    background-color: rgb(8, 161, 8);
}

.contacto-formulario button:active {
    background-color: rgb(51, 157, 238);
}

.contacto-formulario input,
.contacto-formulario textarea {
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    transition: opacity 0.3s ease;
    width: 100%; 
    box-sizing: border-box;
}

.contacto-formulario input:hover,
.contacto-formulario textarea:hover {
    opacity: 60%; 
}

.contacto-formulario textarea{
    text-align: justify;
}

.contacto-formulario label{
    margin-bottom: 2px;
}

@media (max-width: 600px) {
    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: rgb(58, 58, 95);
        border-radius: 10px;
        margin: 15px; 
        box-sizing: border-box; 
    }
}

.contacto-imagen {
    text-align: center;
}

.contacto-imagen img {
    border-radius: 30%; 
    width: 200px; 
    height: 200px; 
    transition: transform 0.3s ease;
    max-width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.contacto-imagen img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ; 
}

.contacto-imagen p {
    margin-top: 5px; 
    font-size: 22px;
}

.contacto-imagen a {
    text-decoration: none; 
    color: white;
    transition: color 0.5s ease; 

}

.contacto-imagen a:hover {
    color: #ff3c00; 
}

.contacto-acedia{
    margin-top: 15px;
}

footer {
    background-color: rgb(39, 39, 67);
    color: #fff;
    text-align: center;
    padding: 10px; 
    position: unset;

    bottom: 0;
    margin-top: 10px;
}

footer a {
    color: #ff3c00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


