body {
    background:linear-gradient(rgb(26, 2, 73), rgb(0, 0, 0), rgb(30, 3, 83));
    height: 100vh;
    background-position: center;
    background-size: contain;
    color: white !important;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Alata', sans-serif;
}
.navbar {
    font-family: 'Alata', sans-serif;
}

.navbar, .navbar-nav, .navbar-toggler, navbar-brand {
    background-color: rgb(26, 28, 39) ;
}

.seccion {
    display: flex;
    flex-direction: column;
    background: #303841; 
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.chatbot{
    padding: 5px;
    background: #3a4750;
    display: flex;
    justify-content: center;
    margin: 15px 10px ;
    border-radius: 20px 20px 0 0;
}

.chatbot img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.chatbot-contenido {
    background: #3a4750;
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 98%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 15px;
}

.texto-chatbot{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.titulo, .subtitulo{
    margin:10px ;
}

.mensajes{
    width: 600px;
    height: auto;
    border: 3px solid #be3144; ;
    border-radius: 15px;
    padding-left: 15px; 
}

.chatbot-entradas {
    margin-top: 0 15px;
    background: #be3144; 
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    height: 80px; 
}

.entradas{
    margin-bottom: 7px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.entrada{
    border: 0;
    color: white;
    font-size: 24px;
    background: #3a4750;
    width: 75%;
    border-radius: 20px;
    padding-left: 15px; 
}

.entrada:hover{
    border: 1px white solid;
}

.botones{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.boton-enviar, .boton-borrar, .boton-bomba{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #3a4750;
    border: 0;
    transition: all 0.3s ease-in-out;
}

.boton-enviar i, .boton-borrar i, .boton-bomba i{
    font-size: 18px;
    color: white;
    padding: 5px;
}

.boton-enviar:hover, .boton-borrar:hover, .boton-bomba:hover{
    transform: scale(1.15);
    border: 2px white solid;
}


footer {
    background-color: rgb(32, 35, 52);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}




