body {
    background:linear-gradient(rgb(26, 2, 73), rgb(0, 0, 0), rgb(30, 3, 83));
    height: 100vh;
    background-position: center;
    background-size: contain;
    color: white;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Alata', sans-serif;
}
.navbar {
    font-family: 'Alata', sans-serif;
}

.navbar, .navbar-nav, .navbar-toggler, navbar-brand {
    background-color: rgb(26, 28, 39) ;
}



.primera-seccion{
    display: flex;
    flex-direction: column;
    text-align: space-around;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    color:  white;
}

/* Secciones */

.seccion{
    background-color: rgb(32, 35, 52);
    padding: 15px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    width: 1100px;
    height: 700px;
}

.titulo-seccion{
    font-family: 'Alata', sans-serif;
    font-size: 22px;
    margin-top: 0px; 

}


.contenido-seccion {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
    text-align: justify;
    margin-top: -100px;
}

.imagen-serie {
    width: 480px;
    height: 620px;
}

.imagen-serie-portada {
    width: 100%;  /* Utiliza el 100% del ancho del contenedor */
    height: 100%;

    background-size: 100% 100%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}


.imagen-serie-portada:hover{
    transform: scale(1.03);
    filter: brightness(1.2);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);

}

.datos-serie{
    /*background-color: rgba(255, 255, 255, 0.097);*/
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    margin-right: 20px;
    height: 100%;
    font-family: 'open sans',sans-serif;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.titulo-serie{
    text-align: center;
    font-size: 24px;;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}

.descripcion-serie{
    margin-top: -10px;
    justify-content: center;
    overflow: auto;
    width: 550px;
    height: 330px;
}

.detalles-serie{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 25px;
}

.detalles-serie-datos {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 5px;
    height: 200px;
}


.detalles-rank {
    display: flex; 
    justify-content: center;
}

.puntuacion-estrellas{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.puntuacion-numero {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    align-self: flex-end;
    background-color: rgb(0, 115, 255);
}

.detalles-interaccion{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    /*background-color: rgb(255, 255, 255);*/
    border-radius: 30px;
    margin-top: 20px;

}

.detalles-interaccion-redes i{
    font-size: 2em;
    margin:0 10px;
    transition: filter 0.3s ease,transform 0.3s ease;
    color: white;
}

.detalles-interaccion-redes i:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.9));
    transform: scale(1.25);
}

/* Secciones */

/*-----------------------------------------------------------*/

/* Personajes */

.seccion-personajes{
    background-color: rgb(32, 35, 52);
    padding: 15px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    width: 1100px;
    height: 350px;
}

.descripcion-seccion{
    font-family: 'Alata', sans-serif;
}

.personajes {
    display: flex;
    justify-content: space-around;
}

.persona {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10px; 
}

.persona-foto{
    width: 145px;
    border-radius: 25%;
    height: 100%;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.persona-foto:hover{
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
}

.persona-nombre, .persona-serie{
    margin: 5px;
}

.flecha-izq, .flecha-der{
    align-self: center;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}

.flecha-izq:hover, .flecha-der:hover{
    filter: drop-shadow(0 0 15px white);
    transform: scale(1.2);
}
/* Personajes */

/*---------------------------------------------------*/

/*  arte popular */

.seccion-arte{
    background-color: rgb(32, 35, 52);
    padding: 15px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    width: 1100px;
    height: 1125px;
}

.arte-imagenes {
    grid-template-areas: 
        "a b c c d"
        "e e e e e"
        "e e e e e"
        "f f g h h";
    display: grid;
    grid-gap: 1rem;
}

.arte-imagenes img {
    width: 100%; 
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.arte-imagenes img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px white;
}

.arte-imagenes img:nth-child(1) {
    grid-area: a;
}

.arte-imagenes img:nth-child(2) {
    grid-area: b;
}

.arte-imagenes img:nth-child(3) {
    grid-area: c;
}

.arte-imagenes img:nth-child(4) {
    grid-area: d;
}

.arte-imagenes img:nth-child(5) {
    grid-area: e;
    height: 500px;
    object-fit: cover; 
    object-position: bottom; 
}

.arte-imagenes img:nth-child(6) {
    grid-area: f;
}

.arte-imagenes img:nth-child(7) {
    grid-area: g;
}

.arte-imagenes img:nth-child(8) {
    grid-area: h;
}




/* arte popular */


footer {
    background-color: rgb(32, 35, 52);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

